.header__menu {
    margin: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
@media (min-width: 768px) {
    .header__menu {
        padding: 34px 0 22px;
        flex-direction: row;
        justify-content: space-between;
        max-width: 308px;
        column-gap: 18px;
    }
}
@media (min-width: 1024px) {
    .header__menu {
        padding: 57px 0 44px;
        column-gap: 36px;
    }
}
