.header__title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 39px;
}
@media (min-width: 768px) {
    .header__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        padding: 23px 0 18px 0;
    }
}
@media (min-width: 1024px) {
    .header__title {
        padding: 46px 0 35px 0;
    }
}